<div class="field">
	<label> Subskrybowane: </label>
<% if @user.addresses == [] %> 
		Nic  
<% else %>
	<div id="subscribed">
	<% @user.addresses.each do |address| %>
		<div>
			<%= check_box_tag :address_id, address.id, true, :name => 'user[address_ids][]' %>
			<p class="opis"><%= text_field_tag :address_id, get_opis(address, @user.id), :name => "user[address_opises][#{address.id}]" %></p>
			<p class="adres"><%= label_tag :address_ids, address.adres %></p>
		</div>
	<% end %>
	</div>
<% end %>
<%= link_to 'Nowy', new_address_path, {:class => 'button'} %>
</div>

<div class="field">
	<label>Wyszukiwarka: </label>
	<div id="filter"><%= image_tag "icons/zoom.png" %><input id="filtr" type="text" /></div>
	<ul id="my_addresses">
<% @addresses.each do |address| %>
	<% if !@user.addresses.include?(address) && !address.private? %>
		<li class="result">
			<p class="opis"><%= check_box_tag :address_id, address.id, @user.addresses.include?(address), :name => 'user[address_ids][]' %></p>
			<%= text_field_tag :address_id, get_opis(address, @user.id), :name => "user[address_opises][#{address.id}]" %>
			<p class="opis" style="visibility: hidden; height: 0; width: 0"><%= get_opis(address, @user.id) %></p>
			<p class="adres"><%= address.adres %></p>
		</li> 
	<% end %>
<% end %>
	</ul>
</div>
