<p>Subskrybowane: 
<% if @user.addresses == [] %>
	Nic </p>
<% else %>
</p>
<div id="subscribed" class="field">
	<% @user.addresses.each do |address| %>
	<div>
		<%= check_box_tag :address_ids, address.id, true, :name => 'user[address_ids][]' %>
		<p class="opis"><%= label_tag :address_ids, get_opis(address, @user.id) %></p>
		<p class="adres"> <%= address.adres %> </p>
	</div>
	<% end %>
</div>
<% end %>
<p>Wyszukiwarka: </p>
<div id="my_addresses" class="field">
<input id="filtr" type="text" />
<% @addresses.each do |address| %>
	<% if !@user.addresses.include?(address) %>
	<div>
		<%= check_box_tag :address_ids, address.id, @user.addresses.include?(address), :name => 'user[address_ids][]' %>
		<p class="opis"><%= label_tag :address_ids, get_opis(address, @user.id) %></p>
		<p class="adres"> <%= address.adres %> </p>
	</div> 
 	<% end %>
<% end %>
</div>
