<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:</h2>

			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :klucz %><br />
		<%= f.text_field :klucz %>
	</div>
	<div class="field">
		<%= f.label :haslo %><br />
		<%= f.text_field :haslo %>
	</div>
	<div class="field">
		<%= f.label :obserwowane %><br />
		<%= f.text_area :obserwowane %>
	</div>
	<div class="field">
		<%= f.label :admin %><br />
		<%= f.check_box :admin %>
	</div>	

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
