<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:</h2>

		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<p id="notice"><%= notice %></p>

<div class="actions karty" style="display: none; text-align: center">
	<span id="subskrypcja_tab">Subskrypcja</span>
	<span id="haslo_tab">Zmień hasło</span>
	<span id="inny_adres_tab">Dodaj adres spoza listy</span>
</div>

<div id="haslo">
	<%= form_for(@user) do |f| %>
	
		<% if controller.admin_logged_in? %>
			<div class="field">
				<%= f.label "Nazwa" %>
				<%= f.text_field :klucz %>
			</div>
		<% end %>

		<div class="field">
			<%= f.label "Hasło" %>
			<%= f.password_field :haslo %>
		</div>
	
		<% if controller.admin_logged_in? %>
			<div class="field">
				<label><%= f.check_box :admin %> god mode</label>
			</div>	
		<% end %>
	
		<div class="actions">
			<%= f.submit "Zapisz" %>
		</div>
	<% end %>
</div>

<div id="subskrypcja">
	<%= render 'form_subscribe' %>
</div>

<div id="inny_adres">
	<%= render 'addresses/form' %>
</div>

