<%= form_for(@user) do |f| %>

<div class="field">
	<label><%= image_tag "icons/zoom.png" %> Sugestie</label>
	<ul id="my_addresses">
<% (@addresses.sort_by {|a| a.opis}).each do |address| %>
	<% if !@user.addresses.include?(address) && !address.private? %>
		<li class="result">
			<div class="opis"><%= check_box_tag :address_id, address.id, @user.addresses.include?(address), :name => 'user[address_ids][]' %></div>
			<%= text_field_tag :address_id, get_opis(address, @user.id), :name => "user[address_opises][#{address.id}]" %>
			<div class="opis" style="visibility: hidden; height: 0; width: 0"><%= get_opis(address, @user.id) %></div>
			<div class="adres"><%= address.adres.limit(60) %></div>
		</li>
	<% end %>
<% end %>

<span style="display: none"><%= check_box_tag 'user[zmiana_subskrypcji]', 'yes', true %></span>

	</ul>
</div>

<% if @user.addresses != [] %>

<div class="field" id="subskrybowane">
	<label>Twoje strony</label> 
	<div id="subscribed">
	<% (@user.addresses.sort_by {|a| a.opis}).each do |address| %>
		<div>
			<%= check_box_tag :address_id, address.id, true, :name => 'user[address_ids][]' %>
			<div class="opis"><%= text_field_tag :address_id, get_opis(address, @user.id), :name => "user[address_opises][#{address.id}]" %></div>
			<div class="adres"><%= label_tag :address_ids, address.adres.limit(60) %></div>
		</div>
	<% end %>
	</div>
</div>

<% end %>

<div class="actions">
	<%= f.submit "Zapisz" %>
</div>

<% end %>
