<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:</h2>

		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<p id="notice"><%= notice %></p>

<%= form_for(@user) do |f| %>
	<div class="field">
		<%= f.label "Nazwa" %>
		<%= f.text_field :klucz %>
	</div>
	<div class="field">
		<%= f.label "Hasło do programu" %>
		<%= f.password_field :haslo %>
	</div>
	<div class="field">
		<label><%= f.check_box :admin %> god mode</label>
	</div>	
	<div class="field">
<%= image_tag 'icons/elem/fire.png' %>
		<label >Fire login <%= f.text_field :fire_login %></label>
		<label>Fire hasło <%= f.password_field :fire_password %></label>

<%= image_tag 'icons/elem/air.png' %>
		<label>Air login <%= f.text_field :air_login %></label>
		<label>Air hasło <%= f.password_field :air_password %></label>

<%= image_tag 'icons/elem/earth.png'%>
		<label>Earth login <%= f.text_field :earth_login %></label>
		<label>Earth hasło <%= f.password_field :earth_password %></label>

<%= image_tag 'icons/elem/water.png' %>
		<label>Water login <%= f.text_field :water_login %></label>
		<label>Water hasło <%= f.password_field :water_password %></label>
</div>
		<div class="actions">
			<%= f.submit "Zapisz" %>
		</div>
	<% end %>
</div>



