<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :klucz %><br />
    <%= f.text_field :klucz %>
  </p>
  
  <div style="color:blue">
    <% @obserwowane.each do |find_item| %>
		<label><%= check_box_tag 'filters[]', find_item[:klucz], true %> <%= find_item[:adres] %> </label>
		<% end %>
  </div>
  
  <div style="color:cyan">
    <% @find.each do |find_item| %>
		<label><%= check_box_tag 'filters[]', find_item[:klucz] %> <%= find_item[:adres] %> </label>
		<% end %>
  </div>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
