<div id="uzytkownicy">

<h1>Użytkownicy</h1>

<table>
<% @users.each do |user| %>
	<tr>
		<td><%= user.klucz %></td>
		<td><% if user.admin %><%= image_tag 'icons/weather_sun.png' %><% end %></td>
		<td><%= user.haslo %></td>
		<td><%= user.obserwowane %></td>
		<td><%= link_to image_tag('icons/keyboard.png'), edit_user_path(user) %>
			<%= link_to image_tag('icons/destroy.png'), user, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

	<div class="actions"><%= link_to 'dodaj', new_user_path %></div>
</div>
