<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th><%= image_tag 'icons/world.png', :width => 16, :height => 16 %></th>
		<th></th>
	</tr>
<% @users.each do |user| %>
	<tr>
		<td><%= user.klucz %></td>
		<td><% if user.admin %><%= image_tag 'icons/weather_sun.png', :width => 16, :height => 16 %><% end %></td>
		<td><%= user.haslo %></td>
		<td><%= user.addresses.length %>
		<div>
			<% user.addresses.each do |adres| %>
				<p><%= adres.adres.limit(50) %></p>
			<% end %>
		</div>
		</td>
		<td><%= link_to image_tag('icons/keyboard.png', :width => 16, :height => 16), edit_user_path(user) %>
			<%= link_to image_tag('icons/destroy.png', :width => 16, :height => 16), user, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<div class="actions"><%= link_to 'dodaj', new_user_path %></div>
