<p id="notice"><%= notice %></p>

<p>
	<b>Klucz:</b>
	<%= @user.klucz %>
</p>

<p>
	<b>Hasło:</b>
	<%= @user.haslo %>
</p>

<p>
	<b>Administrator:</b>
	<%= @user.admin %>
</p>

<p>
	<b>Obserwowane:</b>
	<%= @user.obserwowane %>
</p>

<div class="actions">
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</div>
