<%= form_for(@genotype) do |f| %>
  <% if @genotype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genotype.errors.count, "error") %> prohibited this genotype from being saved:</h2>

      <ul>
      <% @genotype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :genotyp %><br />
    <%= f.text_field :genotyp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
