<p id="notice"><%= notice %></p>

<% @genotypes.each do |@genotype| %>
	<div>
		<%= form_for(@genotype) do |f| %><%= f.text_field :genotyp %><% end %>
		<%= link_to image_tag('icons/destroy.png', :width => 16, :height => 16), @genotype, :confirm => 'Are you sure?', :method => :delete %>
	</div>
<% end %>

<%= form_for(@new_genotype) do |f| %><div><%= f.text_field :genotyp %></div><% end %>
