<% if (actual_news = news(controller.current_user)) == [] %>

<p id="notice" style="text-align: center">Na wybranych stronach nie pojawiły się jeszcze żadne zmiany.</p>

<% else %>
	<% puts actual_news %>
	<% actual_news.each do |news|  %>
	<li>
		<div class="boxdate">
			<span class="day"><%= news.data.day %></span>
			<span class="month"><%= Time::RFC2822_MONTH_NAME[news.data.month] %></span>
			<span class="time"><%= news.data.strftime("%I:%M") %></span>
		</div>
		<div class="box_msg">
		<h1><%= news.address.opis %></h1>
		<%= link_to(news.address.adres,news.address.adres) %>
		<p class="switcher">
			<%= image_tag 'icons/add.png', :class => "tog_ins" %>
			<%= image_tag 'icons/destroy.png', :class => "tog_del" %>
		</p>
		<div class="msg rounded">
			<%= news.tresc.html_safe %> 
		</div>
		</div>
	</li>
	<% end %>
<% end %>
