<% if (actual_news = controller.current_user.messages) == [] %>

<p id="notice" style="text-align: center">Na wybranych stronach nie pojawiły się jeszcze żadne zmiany.<br /></p>

<% else %>
	<% puts actual_news %>
	<% actual_news.each do |news|  %>
	<li>
		<div class="boxdate">
			<span class="day"><%= news.data.day %></span>
			<span class="month"><%= Time::RFC2822_MONTH_NAME[news.data.month-1] %></span>
			<span class="time"><%= news.data.strftime("%I:%M") %></span>
		</div>
		<div class="box_msg">
		
		<h1><%= news.address.opis %></h1>
		
		<%= link_to(news.address.adres, news.address.adres) %>
		
		<div class="msg rounded">
			<%= news.tresc.html_safe %> 
		</div>
		
		</div>
	</li>
	<% end %>
<% end %>

<p id="notice" style="text-align: center">Wiadomości wygodnie jest odbierać przez <%= link_to 'kanał rss', '/rss/of/'+ controller.current_user.klucz + "!" + controller.current_user.rss_pass %> <%= link_to image_tag('icons/feed.png', :width => 16, :height => 16), '/rss/of/'+ controller.current_user.klucz + "!" + controller.current_user.rss_pass %><br />lub za pomocą <a href="http://reader.appload.pl/get/<%= controller.current_user.klucz %>!<%= controller.current_user.rss_pass %>">czytnika Kolibra</a>.</p>
<p id="notice" style="text-align: center; margin-top: -30px">Nie trzeba wtedy tutaj zaglądać.</p>


