<?xml version="1.0"?>
<rss version="2.0">
	<channel>
		<title>hummingbird-ng</title>
		<language>pl-pl</language>
	
	<% news(controller.current_user).each do |news| %>
	
		<item>
			<title><%= news.address.opis %></title>
			<link><%= news.address.adres %></link>
			<description><![CDATA[
				<%= news.tresc.html_safe %>
			]]></description>
			<pubDate><%= news.address.data_mod.to_s %></pubDate>
			<guid><%= news.address.adres.concat(", ").concat(news.address.data_mod.to_s) %></guid>
		</item>
	
	<% end %>
		
	</channel>
</rss>
