<?xml version="1.0"?>
<rss version="2.0">
	<channel>
		<title>Koliber</title>
		<language>pl-pl</language>
	
	<% puts User.find_by_klucz(params[:id]).inspect %>
	<% news(User.find_by_klucz(params[:id])).each do |news| %>
	
		<item>
			<title><%= news.address.opis %></title>
			<link><%= news.address.adres %></link>
			<description><![CDATA[
				<%= news.tresc.html_safe %>
			]]></description>
			<pubDate><%= news.data.to_s %></pubDate>
			<guid><%= Digest::MD5.hexdigest(news.address.adres.to_s + news.data.to_s) %></guid>
		</item>
	
	<% end %>
		
	</channel>
</rss>
