<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link href="stylesheets/temp.css" rel="stylesheet" />
	<link rel="shortcut icon" type="image/png" href="images/favico.png" />
   <title>Hummingbird</title>
</head>
<body>
<ul>
	<% @tablica.each do |element| %>
		<li>
			<p>Opis : <%= element[:opis] %></p>
			<p>Adres : <%= element[:adres] %></p>
			<p style="color:gray">
				<%= element[:komunikat] %>
			</p>
			<p>Data mod<%= element[:data_mod] %></p>
			<p style="font-size:70%"><%= element[:adres] +", "+ element[:data_mod] %> ID:<%= element[:id] %></p>
		</li>
	<% end %>
</ul>
</body>
</html>
