	<% @tablica.each do |element| %>
		<li>
			<p style="color:#ccc">Opis : <%= element[:opis] %></p>
			<p style="color:#ccc">Adres : <%= element[:adres] %></p>
			<p> Przełącz widoczość: 
			<%= image_tag 'icons/add.png', :class => "tog_ins" %>
			<%= image_tag 'icons/destroy.png', :class => "tog_del" %></p>
			<p class="msg">
				<%= element[:komunikat].html_safe %> 
			</p>
			<p style="color:#ccc">Data mod<%= element[:data_mod] %></p>
			<p style="color:#ccc;font-size:70%"><%= element[:adres] +", "+ element[:data_mod] %> ID:<%= element[:id] %></p>
		</li>
	<% end %>

