<ul>
	<% @tablica.each do |element| %>
		<li>
			<p style="color:#ccc">Opis : <%= element[:opis] %></p>
			<p style="color:#ccc">Adres : <%= element[:adres] %></p>
			<p>
				<%= element[:komunikat] %>
			</p>
			<p style="color:#ccc">Data mod<%= element[:data_mod] %></p>
			<p style="color:#ccc;font-size:70%"><%= element[:adres] +", "+ element[:data_mod] %> ID:<%= element[:id] %></p>
		</li>
	<% end %>
</ul>

