<% if @address.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@address.errors.count, "error") %> prohibited this message from being saved:</h2>

		<ul>
		<% @address.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@address) do |f| %>
	<div class="field">
		<%= f.label "Dodaj adres internetowy" %>
		<%= f.text_field :adres, :id => "filtr" %>
	</div>
	<div class="field">
		<%= f.label "Opis" %>
		<%= f.text_field :opis %>
	</div>
	<div class="field">
	<%= f.check_box :private %> <%= f.label "Nie pokazuj w wyszukiwarce" %>
	</div>
	
	<div id="expert" class="rounded">
		Zaawansowane <%= image_tag 'icons/cross.png', :style => 'float: right; margin-top: 2px' %>
		<div class="info rounded">Uwaga! Dopisywanie tutaj czegokolwiek, bez świadomości co się w ogóle robi grozi nieprawidłowym działaniem kolibra (przedwczesnym wypadaniem piór, ewentualnym brakiem połysku i wyblakłymi kolorami, w skrajnych przypadkach grozi zwyrodnieniem dzioba). Ostrzegaliśmy.</div>
		<div class="field">
			<%= f.label :xpath %>
			<%= f.text_field :xpath %>
		</div>
		<div class="field">
			<%= f.label :css %>
			<%= f.text_field :css %>
		</div>
		<div class="field">
			<%= f.label :regexp %>
			<%= f.text_field :regexp %>
		</div>
		
		<% if controller.admin_logged_in? %>
		<div class="field">
			<%= f.label :data_mod %>
			<%= f.datetime_select :data_mod %>
		</div>
		<div class="field">
			<%= f.label :data_spr %>
			<%= f.datetime_select :data_spr %>
		</div>
		<div class="field">
			<%= f.label :komunikaty %>
			<%= f.text_field :komunikaty %>
		</div>
		<div class="field">
			<%= f.check_box :blokada %> <%= f.label :blokada %>
		</div>
		<div class="field">
			<%= f.check_box :one_user %> <%= f.label :one_user %>
		</div>
		<% end %>
	</div>
	
	
	<div class="actions">
		<a class="przycisk" id="expert_toggle">Zaawansowane</a>
		<%= f.submit 'Dodaj' %>
	</div>
<% end %>

