<h1>Adresy</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th></th>
		<th></th>
		<th>M</th>
		<th>S</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @addresses.each do |address| %>
	<tr>
		<td>
			<% if address.opis != ''%><strong><%= address.opis %></strong><br /><% end %>
			<%= address.klucz %><br />
			
			<%
				dodatki = [address.xpath, address.css, address.regexp].join(" ")
				( dodatki = dodatki[0, 17] + '...' ) if dodatki.length > 20
			%>
			
			<% if !(address.adres.index('/', 10).nil?) %>
				<% if address.adres.length > 50 %>
					<a href="<%= address.adres %>"><%= przed_slashem(address.adres) %>/<br />
					<span style="color: #999"><%= po_slashu(address.adres) %></span></a> <span class="dodatki"><%= dodatki %></span>
				<% else %>
					<a href="<%= address.adres %>"><%= przed_slashem(address.adres) %>/<span style="color: #999"><%= po_slashu(address.adres) %></span></a> <span class="dodatki"><%= dodatki %></span>
				<% end %>
			<% else %>
				<a href="<%= address.adres %>"><%= address.adres %></a> <span class="dodatki"><%= dodatki %></span>
			<% end %>
		</td>
		
		<td>
			<% if !(address.komunikaty.nil?)	%>
				<% address.komunikaty.split.each do |komunikat| %> 
					<%	@base_komunikat = @messages.find { |x| x.id == komunikat.to_i } %> 
					<span class="komunikat_id"><%= link_to @base_komunikat.id,	edit_message_path(@base_komunikat) %><div class="ad_message">
						<%= @base_komunikat.tresc[0..256] %><%= "..." if @base_komunikat.tresc.length > 256 %>
						<%= link_to image_tag('icons/destroy.png'), @base_komunikat, :confirm => 'Are you sure?', :method => :delete %>
					</div></span>
				<% end %>
			<% end %>
		</td>
		
		<td><%= skroc_date(address.data_mod) %></td>
		<td><%= skroc_date(address.data_spr) %></td>
		<td><% if address.blokada %><%= image_tag "icons/exclamation.png" %><% end %></td> 
		
		<td><%= link_to image_tag('icons/keyboard.png'), edit_address_path(address) %>
			<%= link_to image_tag('icons/destroy.png'), address_path(address), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<div class="actions"><%= link_to 'dodaj', new_address_path %></div>
