<div id="adresy">

<h1>Adresy</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th>M</th>
    <th>S</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @addresses.each do |address| %>
  <tr>
    <td style="width: 1px; white-space: nowrap"><strong><%= address.opis %></strong><% if address.opis.to_s.length > 0 %><br /><% end %>
    	<%= address.klucz %><br />
    	
    	<% if !address.adres.index('/', 10).nil? %>
		 	<% if address.adres.to_s.length > 50 %>	
		 		<a href="<%= address.adres %>"><%= address.adres[0, address.adres.index('/', 10)] %>/<br />
		 		<span style="color: #999"><%= address.adres[address.adres.index('/', 10)+1, address.adres.length] %></span></a>
			<% else %>
				 <a href="<%= address.adres.to_s %>"><%= address.adres.to_s[0, address.adres.to_s.index('/', 10)] %>/<span style="color: #999"><%= address.adres.to_s[address.adres.to_s.index('/', 10)+1, address.adres.to_s.length] %></span></a>
		 	<% end %>
		<% else %>
			<a href="<%= address.adres.to_s %>"><%= address.adres.to_s %></a>
    	<% end %>

    	
    </td>
    <td style="min-width: 100px">
    <% if !address.komunikaty.nil?  %>
		  <% address.komunikaty.split.each do |komunikat| %> 
		  	<%  @base_komunikat = @messages.find{|x| x.id == komunikat.to_i} %> 
		  	<span class="komunikat_id"><%= link_to @base_komunikat.id,"/messages/#{@base_komunikat.id}/edit" %>
		  	<div class="ad_message">
		  		<%= @base_komunikat.tresc[0..256] %><%= "..." if @base_komunikat.tresc.length > 256 %>
		  		<%= link_to image_tag('icons/bomb.png'), "/messages/#{@base_komunikat.id}", :confirm => 'Are you sure?', :method => :delete %> 
		  	</div></span>
	    <% end %> 
    <% end %> 
    </td>
    <td style="width: 1px; white-space: nowrap"><%= address.data_mod.to_s[2, address.data_mod.to_s.length-11] %></td>
    <td style="width: 1px; white-space: nowrap"><%= address.data_spr.to_s[2, address.data_spr.to_s.length-11] %></td>
    <td style="width: 1px; white-space: nowrap"><% if address.blokada %><%= image_tag "icons/exclamation.png" %><% end %></td> 
    
    <td style="width: 1px; white-space: nowrap"><%= link_to image_tag('icons/eye.png'), address_path(address.klucz) %>
    	<%= link_to image_tag('icons/keyboard.png'), edit_address_path(address.klucz) %>
    	<%= link_to image_tag('icons/bomb.png'), address_path(address.klucz), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
