<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th><%= image_tag 'icons/key.png', :width => 16, :height => 16 %></th>
		<th></th>
		<th><%= image_tag 'icons/user.png', :width => 16, :height => 16 %></th>
		<th><%= image_tag 'icons/comments.png', :width => 16, :height => 16 %></th>
		<th></th>
		<th></th>
		<th><%= link_to image_tag('icons/bug.png', :width => 16, :height => 16), unlock_addresses_path %></th>
		<th></th>
	</tr>
<% @addresses.each do |address| %>
	<tr>
		<td><%= link_to address.id.to_s + '.', edit_address_path(address)%></td>
		<td>
		<%
			opis = nil, dodatki = nil
			opis = address.opis.limit(50) if address.opis != ''
			dodatki = [address.xpath, address.css, address.regexp].join(" ").limit(50)
			adres = address.adres
		
		%>
			<% if opis %><p><strong><%= opis %></strong></p><% end %>
			<p><a href="<%= adres %>"><%= adres.limit(60)  %></a></p>
			<% if dodatki %><p class="dodatki"><%= dodatki  %></p><% end %>
		</td>

		<td> <%= address.users.length %><% if address.one_user %><span style="color: red"><%= '!' %></span><% end %>
			<div>
				<% address.users.each do |user| %>
				<p> <%= user.klucz %> </p>
				<% end %>
			</div>
		</td>
		<td>
			<% if address.messages != [] %>
				<% address.messages.each do |komunikat| %> 
					<span class="komunikat_id"><%= link_to komunikat.id.to_s + '.', edit_message_path(komunikat) %><div class="ad_message">
						<%= komunikat.tresc[0..256] %><%= "..." if komunikat.tresc.length > 256 %>
						<%= link_to image_tag('icons/destroy.png', :width => 16, :height => 16), message_path(komunikat), :confirm => 'Are you sure?', :method => :delete %>
					</div></span>
				<% end %>
			<% end %>
		</td>
		
		<td><%= skroc_date(address.data_mod) %><br/><span style="color: #999"><%= skroc_date(address.data_spr) %></span></td>
		<td><% if address.private? %><%= image_tag('icons/lock.png', :width => 16, :height => 16) %><% end %></td> 
		<td><% if address.blokada %><%= image_tag('icons/exclamation.png', :width => 16, :height => 16) %><% end %></td> 
		
		<td><%= link_to image_tag('icons/keyboard.png', :width => 16, :height => 16), edit_address_path(address) %>
			<%= link_to image_tag('icons/destroy.png', :width => 16, :height => 16), address_path(address), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<div class="actions"><%= link_to 'dodaj', new_address_path %></div>
