<p id="notice"><%= notice %></p>

<p>
  <b>Klucz:</b>
  <%= @address.klucz %>
</p>

<p>
  <b>Adres:</b>
  <%= @address.adres %>
</p>

<p>
  <b>Xpath:</b>
  <%= @address.xpath %>
</p>

<p>
  <b>Regexp:</b>
  <%= @address.regexp %>
</p>

<p>
  <b>Data mod:</b>
  <%= @address.data_mod %>
</p>

<p>
  <b>Data spr:</b>
  <%= @address.data_spr %>
</p>

<p>
  <b>Opis:</b>
  <%= @address.opis %>
</p>

<p>
  <b>Komunikaty:</b>
  <%= @address.komunikaty %>
</p>

<p>
  <b>Blokada:</b>
  <%= @address.blokada %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
