<div>
	<img src="images/koliber.png" />

</div>

<% if controller.current_user.nil? %>
	<%= form_tag(login_create_path, :method => "post") do %>
		<%= label_tag(:nazwa, "Nazwa:") %> <%= text_field_tag(:nazwa) %> <%= label_tag(:haslo, "Hasło:") %> <%= password_field_tag(:haslo) %> <%= submit_tag("Zaloguj") %>
	<% end %>
<% end %>

<% if (not controller.current_user.nil? and controller.current_user.admin == true) %>

<p style="text-align: center; color: #ffffff; padding: 2px"><%= today_event %></p>

<% end %>

<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
	<div id="error"><%= flash[:error] %></div>
<% end %>
