<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th><%= image_tag 'icons/world.png', :width => 16, :height => 16 %></th>
		<th></th>
		<th><%= image_tag 'icons/user.png', :width => 16, :height => 16 %></th>
	</tr>
<% @sites.each do |site| %>
	<tr>
		<td><%= site.address_id %>.</td>
		<td><%= site.opis %></td>
		<td><%= site.user_id %>.</td>
		<td><%= link_to image_tag('icons/keyboard.png', :width => 16, :height => 16), edit_site_path(site) %></td>
	</tr>
<% end %>
</table>
