<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tag %>
	
	<%= auto_discovery_link_tag(:rss, "/rss/of/koliber", {:title => "Koliber (komunikaty)"}) %>
	<%= auto_discovery_link_tag(:rss, "/rss/of/kot", {:title => "kot"}) %>
	<%= javascript_include_tag :defaults %>
	
	<%= stylesheet_link_tag :all %>	
	<%= favicon_link_tag 'icons/koliber.png', :type => 'image/png' %>
	<title>Koliber</title>
</head>
<body>

	<div id="nawigacja">
		<div>
			<a href="/addresses">Adresy</a>
			<% if params[:controller].to_s == 'addresses' %>
				<span><a href="/addresses/new"><%= image_tag('icons/add.png') %></a></span>
			<% end %>
			<a href="/genotypes">Genotypy</a>
			<a href="/users">Użytkownicy</a>
			<% if params[:controller].to_s == 'users' %>
				<span>
					<%= link_to image_tag('icons/add.png'), new_user_path %>
					<a href="/users/wykluj">wykluj</a>
					<% if session[:logged_as].nil? %>
						<a href="/users/login">su user</a>
						<a href="/users/login_admin">su</a>
					<% else %>
						<a href="/users/logout">Ctrl+D</a>
					<% end %>
				</span>
			<% end %>
			<a href="/messages">Wiadomości</a>
			<% if params[:controller].to_s == 'messages' %>
				<span><a href="/messages/new"><%= image_tag('icons/add.png') %></a></span>
			<% end %>
		</div>
	</div>
		
	<div id="tresc">
		<%= yield %>
	</div>
	
</body>
</html>

