<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tag %>
	
	<%= auto_discovery_link_tag(:rss, "/rss/of/koliber", {:title => "Koliber (komunikaty)"}) %>
	<%= auto_discovery_link_tag(:rss, "/rss/of/kot", {:title => "kot"}) %>
	<%= javascript_include_tag :defaults %>

	<%= stylesheet_link_tag :all %>	
	<%= favicon_link_tag 'icons/koliber.png', :type => 'image/png' %>
	<title>Koliber</title>
</head>
<%
	id = params[:controller]
	( id << '_' << params[:action] ) if params[:action] != 'index'
%>
<body id="<%= id %>">

	<div id="nawigacja">
		<%= link_to 'Adresy', addresses_path %> 
		<%= link_to 'Genotypy', genotypes_path %> 
		<%= link_to 'Użytkownicy', users_path %> 
		<%= link_to 'Wiadomości', messages_path %> 
	</div>

	<div id="tresc">
		<%= yield %>
	</div>
	
</body>
</html>

