<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tag %>
	
	<%= auto_discovery_link_tag(:rss, "/rss/of/koliber", {:title => "Koliber (komunikaty)"}) %>
	<%= auto_discovery_link_tag(:rss, "/rss/of/kot", {:title => "kot"}) %>
	<%= javascript_include_tag :defaults %>

	<%= stylesheet_link_tag ['koliber', 'tabele'] %>
	<%= favicon_link_tag 'icons/koliber.png', :type => 'image/png' %>
	<title>Koliber</title>
</head>
<%
	id = controller_name
	( id << '_' << action_name ) if params[:action] != 'index'
%>
<body id="<%= id %>"<% if controller.admin_logged_in? %> class="admin"<% else %> class="public"<% end %>>

	<div id="nawigacja">
		<%
			if controller.logged_in?
		
				nawigacja = {}
		
				if controller.admin_logged_in?
					nawigacja.merge!( {
						'Adresy' => addresses_path,
						'Genotypy' => genotypes_path,
						'Użytkownicy' => users_path,
						'Wiadomości' => messages_path } )
				end
		
				if (controller.current_user && controller.current_user.addresses.length != 0)
					nawigacja.merge!( {
						'RSS' => '/rss/of/'+ controller.current_user.klucz,
						'WebRSS' => '/rss/web' } )
				end
		
				nawigacja.merge!( {
					'Ustawienia' => panel_path,
					'Wyloguj ('+ controller.current_user.klucz + ')' => login_destroy_path } )

				nawigacja.sort.each do |opis, adres|
					klasa = nil
					klasa = 'aktywny' if (request.env['REQUEST_URI'] != '/' && (adres =~ /#{request.env['REQUEST_URI']}[\/a-z]*/) != nil)
					%><%= link_to opis, adres, { :class => klasa } %> <%
				end
			end
		%>
		
	</div>

	<div id="tresc">
		<%= yield %>
	</div>
	
</body>
</html>

